<perch:before>
<div class="hfeed listing"></perch:before>
    <div class="hentry row">
      <div class="col-sm-4">
        <a href="<perch:blog id="postURL" />"><img class="fadeinout" src="<perch:blog id="main-image" type="image" crop="false" />" alt="<perch:blog id="postTitle" />" /></a>
      </div>
      <div class="col-sm-8">
        <h2><a href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title"><perch:blog id="postTitle" /></a> &mdash;
          <perch:blog id="price" type="text" label="Price" markdown="true" order="2" size="s" /></h2>
        <div class="description entry-summary">
          <perch:blog id="excerpt" type="textarea" textile="true" />
          <a class="btn btn-default btn-olive" href="<perch:blog id="postURL" />">Full Details</a>
        </div>
      </div>
    </div>
    <br>
<perch:after>
    </div>
    <perch:if exists="paging">
        <div class="paging">
            Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" />
            <perch:blog id="page_links" encode="false" />
            <perch:if exists="not_first_page">
                <a href="<perch:blog id="prev_url" encode="false" />">Previous</a>
            </perch:if>
            <perch:if exists="not_last_page">
                <a href="<perch:blog id="next_url" encode="false" />">Next</a>
            </perch:if>
        </div>
    </perch:if>
</perch:after>
<br>
