<article class="h-entry inline-container">
	<div class="blog-single-img-container row">
    <perch:if exists="main-image">
        <div class="blog-main-img col-sm-8">
            <img src="<perch:blog id="main-image" type="image" crop="true" label="Main Image" order="2" />" alt="<perch:blog id="postTitle" />" />
        </div>
    </perch:if>
		<div class="col-sm-4">
		<perch:if exists="image-2">
				<div class="blog-img-2">
						<img src="<perch:blog id="image-2" type="image"  crop="true" label="Image 2" order="3" />" alt="<perch:blog id="postTitle" />" />
				</div>
		</perch:if>
		<perch:if exists="image-3">
				<div class="blog-img-3">
						<img src="<perch:blog id="image-3" type="image" crop="true" label="Image 3" order="4" />" alt="<perch:blog id="postTitle" />" />
				</div>
		</perch:if>
	</div>
</div>
<div class="clearfix"></div>
<h3>
	<perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" /> &ndash;
	<perch:blog id="price" type="text" label="Price" markdown="true" order="2" size="s" />
</h3>
<div class="button-row">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#details" data-toggle="tab">Details</a></li>
	  <li role="presentation"><a href="#gallery" data-toggle="tab">Gallery</a></li>
		<li role="presentation"><a href="#location" data-toggle="tab">Location</a></li>

				<li role="presentation" class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
			      Print / Download <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu" role="menu">
						<perch:if exists="pdf-download">
							<li><a href="<perch:blog id="pdf-download" type="file" label="PDF Download" order="7" />" alt="<perch:blog id="pdfDownload" />" />Download PDF</a></li>
						</perch:if>
						<li><a href="#" alt="<perch:blog id="pdfDownload" />" onClick="window.print()" />Print this Page</a></li>
			    </ul>
			  </li>
	</ul>
</div>
<div class="tab-content">
  <div class="tab-pane active" id="details">
		<div class="description e-content">
    	<perch:blog id="postDescHTML" type="textarea" label="Post" order="5" editor="markitup" markdown="true" size="xxl autowidth" required="true" />
    </div>
	</div>
	<div class="tab-pane" id="gallery">
		<div class="row gallery-row">
		<perch:if exists="gallery-image1">
			<div class="col-sm-3">
				<a rel="popover" data-toggle="popover"
					data-html="true" data-placement="top" data-content="					">
					<img src="<perch:blog id="gallery-image1" type="image" width="320" height="240" crop="true" label="Gallery Image 1" order="8" />"/>
				</a>
			</div>
		</perch:if>
		<perch:if exists="gallery-image2">
			<div class="col-sm-3">
					<img src="<perch:blog id="gallery-image2" type="image"  crop="true" label="Gallery Image 2" order="9" />"/>
			</div>
		</perch:if>
		<perch:if exists="gallery-image3">
			<div class="col-sm-3">
					<img src="<perch:blog id="gallery-image3" type="image"  crop="true" label="Gallery Image 3" order="10" />" />
			</div>
		</perch:if>
		<perch:if exists="gallery-image4">
			<div class="col-sm-3">
					<img src="<perch:blog id="gallery-image4" type="image" crop="true" label="Gallery Image 4" order="11" />"/>
			</div>
		</perch:if>
	</div>
	<div class="row gallery-row">
		<perch:if exists="gallery-image5">
			<div class="col-sm-3">
					<img src="<perch:blog id="gallery-image5" type="image" crop="true" label="Gallery Image 5" order="12" />"/>
			</div>
		</perch:if>
		<perch:if exists="gallery-image6">
			<div class="col-sm-3">
					<img src="<perch:blog id="gallery-image6" type="image"  crop="true" label="Gallery Image 6" order="13" />"/>
			</div>
		</perch:if>
		<perch:if exists="gallery-image7">
			<div class="col-sm-3">
					<img src="<perch:blog id="gallery-image7" type="image"  crop="true" label="Gallery Image 7" order="14" />"/>
			</div>
		</perch:if>
		<perch:if exists="gallery-image8">
			<div class="col-sm-3">
					<img src="<perch:blog id="gallery-image8" type="image" crop="true" label="Gallery Image 8" order="15" />"/>
			</div>
		</perch:if>
		</div>
	</div>
	<div class="tab-pane" id="location">
		<perch:blog id="locationmap" type="map" label="Location Map" markdown="true" order="16" width="400" height="300" zoom="15"/>
	</div>
</div>
<br>
<div class="alert alert-warning">
	<p><strong>Disclaimer</strong></p>
	<p>Williamson Dace Brown endeavour to maintain accurate depictions of properties in Virtual Tours, Floor Plans and descriptions, however, these are intended only as a guide and purchasers must satisfy themselves by personal inspection.</p>
</div>
</article>

<perch:blog id="excerpt" type="textarea" label="Excerpt" markdown="true" order="6" suppress="true" size="s" />
<perch:blog id="image" type="image" width="50" height="50" crop="true" suppress="true" />

<perch:categories id="categories" set="blog" label="Categories" display-as="checkboxes">
		<a href="archive.php?cat=<perch:category id="catSlug" type="slug" />" class="p-category">
				<perch:category id="catTitle" type="text" />
		</a>
</perch:categories>
<script>
	window.onload = function () {
	$('[data-toggle="popover"]').popover();
	};
</script>
