.p-category {
    display: none;
}
  .blog-main-img img {
    width: 100%!important;
  }
  .blog-img-2 {
    width: 100%;
    margin-bottom: 10px;
    float: left;
  }
  .blog-img-3 {
    width: 100%;
    margin-top: 14px;
    float: left;
  }
  .tab-content {
    margin-top: 20px;
  }
