img {
  max-width: 100%;
  height: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font;
  font-weight: 400;
}
body {
  line-height: 1.8em;
  font-size: 14px;
}
a {
  color: $forest;

  &:hover, &:focus {
    color: $grey;
  }
}
h4 {
  text-transform: uppercase;
}
ul, ol {
  padding-left: 0;
}
.img-circle {
  border: 1px solid $light-grey;
}
.banner {
  padding: 40px 0;
}
  .white-banner h1, .white-banner p {
    margin-bottom: 30px;
  }
  .grey-banner {
    background-color: $light-grey;
  }
  .grey-banner h1 {
    font-weight: 300;
    display: inline-block;
    color: $olive;
    margin: 0;
  }
    .breadcrumb li a {
      color: $olive;
    }
    .breadcrumb i {
      color: #808184;
      margin: 0 4px;
    }
  .olive-banner {
    background-color: $olive;
    color: white;
  }
.btn {
  border-radius: 0;
  padding: 10px 40px;
}
  .btn-olive {
    color: $grey;
    border-color: $grey;
    background-color: #e4e7dd;

    &:hover, &:active {
      background-color: $forest
    }
  }
  .btn-block {
    padding: 20px 10px 10px;
    text-align: center;
  }
  p.nomargin {
    margin: 0;
  }
.hentry h2 {
  font-size: 12px;
  font-weight: 700;
  margin: 0;

  > a {
    color: black;
    text-decoration: none;

    &:hover,
    &:active {
      color: black;
      text-decoration: underline;
    }
  }
}
  .entry-title {
    font-size: 12px;
  }
  .entry-summary {
    margin-top: 10px;
  }
  .hentry img:hover {
      opacity: 0.5;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  .sidebar h3:first-child {
    margin-top: 0;
  }
  .sidebar a {
    color: $even-lighter-grey;
  }
  .nav-pills li a {
    color: white!important;
  }
  form label, form input, form textarea {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
  form label {
    padding-top: 10px;
  }
  form textarea {
    border: 1px solid #cecdcd;
  }
  .iframewrapper {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
  }
  .iframewrapper iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
  }
.inline-container {
  padding-left: 15px;
  padding-right: 15px;
}
.text-olive {
  color: $olive;
}
.button-row a {
  display: block;
}
.content-container ul, .content-container ol {
  padding-left: 20px;
}
.nav-pills > li.active {
  background-color: white;
}
.nav-pills > li.active a {
  color: $grey!important;
}

.imagerow {
  margin-top: 20px;

  > img {
    width: 24%;
    max-width: 24%;
    padding-right: 5%;
  }
}