/*
https://gist.github.com/larrybotha/7881691
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src*=".svg"] {
  width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: inherit;
  }
  .navbar-brand {
  	height: 70px;
  	width: 470px;

  	> img {
  		width: 70%;
  	}
  }
}