.preheader {
  padding: 3px 0;
  color: white;
  background-color: $forest;
}
.preheader .phone {
  float: right;
}
.preheader .phone i {
  color: $grey;
}
.navbar-toggle {
  color: white;
  font-size: 18px;
}
  .nav > li > a {
      color: white;

  &:hover, &:focus {
      text-decoration: none;
      color: $olive;
      background-color: white;
    }
  }
.footer-top {
  background-color: $grey;
  color: white;
}
.footer-top .container {
  padding: 0 7em;
  color: $light-grey;
}
.footer-top img {
  padding: 40px 40px 40px 0;
}
footer h4 {
  padding-bottom: 16px;
}
footer a, footer i {
  color: $olive;

  &:hover, &:active {
    color: $ocean;
  }
}
footer ul {
  list-style-type: none;
}
ul.linkslist {
  line-height: 24px;
}
ul.getintouch, ul.contact-info {
  list-style-type: none;
  padding-left: 2em;
  text-indent: -1em;
  line-height: 28px;
}
ul.getintouch i, ul.contact-info i {
  margin-right: 10px;
}
.footer-bottom {
  background-color: $ocean;
  color: white;
}
.footer-bottom ul li a {
  color: white;

  &:hover, &:active {
    color: $grey;
  }
}
.team-feature img {
  width: 75%;
}
.contactsuccess {
  border: 6px solid $forest;
  background-color: $light-grey;
  padding: 1em 5%;
}
