.preheader {
  padding: 3px 0;
  color: white;
  background-color: $forest;
}
.preheader .phone {
  float: right;
}
.preheader .phone i {
  color: $grey;
}
.navbar-toggle {
  color: white;
  font-size: 18px;
}
  .navbar-nav > li > a {
      color: white;

  &:hover, &:focus {
      text-decoration: none;
      color: $olive;
      background-color: white;
    }
  }
.well-olive {
  border: 1px solid $grey;
  color: $grey;
  background-color: $light-olive;

  &:active, &:hover {
    background-color: $forest;
    color: white;
    text-decoration: none;
  }
}
.well-about p {
  margin-bottom: 0px;
  font-size: 14px;
}
h1.home-hero {
  font-size: 30px;
  line-height: 2.7;
  font-weight: 400;
}
.footer-top {
  background-color: $grey;
  color: white;
}
.footer-top .container {
  color: $light-grey;
}
.footer-top img {
  padding: 40px 40px 40px 0;
}
footer h4 {
  padding-bottom: 16px;
}
footer a, footer i {
  color: $olive;

  &:hover, &:active {
    color: $ocean;
  }
}
footer ul {
  list-style-type: none;
}
ul.linkslist {
  line-height: 24px;
}
ul.getintouch, ul.contact-info {
  list-style-type: none;
  padding-left: 2em;
  text-indent: -1em;
  line-height: 28px;
}
ul.getintouch i, ul.contact-info i {
  margin-right: 10px;
}
.footer-bottom {
  background-color: $ocean;
  color: white;
}
.footer-bottom ul li a {
  color: white;

  &:hover, &:active {
    color: $grey;
  }
}
.team-feature img {
  width: 75%;
  margin-bottom: 10px;
}
.contactsuccess {
  border: 6px solid $forest;
  background-color: $light-grey;
  padding: 1em 5%;
}
.well-about a {
  color: $grey;
  font-size: 16px;
}
.home-buttons a {
  margin: 4% 1em 2%;
}
.home-banner a .col-sm-3 {
  padding: 0;
  margin: 0 5px;
  width: 23.9%;
}
.home-banner #one {
  margin-left: 0
}
.home-banner #four {
  margin-right: 0
}
.e-content ul {
  margin-left: 15px;
}
.gallery-row {
  margin-bottom: 30px;
}
.home-circle {
  padding-top:1px!important;
}
.team-block {
  margin-top: 40px;
}
.our-team h2 {
  color: $olive;
  margin-bottom: 24px;
}
.our-team h3 {
  color: $olive;
  font-size: 18px;
}
.feature-row {
  padding: 20px 0;
}