$font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: #646568;
$light-grey: #e3e3e4;
$even-lighter-grey: #ababab;
$olive: #9fa88b;
$ocean: #5d8a8e;
$forest: #7a8e8e;

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "_bootstrap";
@import "_font-awesome";
@import "_globals";
@import "_locals";
@import "_animations";
@import "_mq";
@import "_blog";
