.home-hero .container div:first-child  {
  background-image: url('/williamsondacebrown/assets/img/propcons.svg') no-repeat;
  animation: fadeIn 3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity:0;
    }
  to{
    opacity: 1;
    }
}
