.blog-single-img-container {

}
@media screen and (min-width: 768px) {
  .blog-main-img img {
    width: 100%!important;
  }
  .blog-img-2 {
    width: 100%;
    margin-bottom: 10px;
    float: left;
  }
  .blog-img-3 {
    width: 100%;
    margin-top: 10px;
    float: left;
  }
}
