<perch:form id="contact" method="post" app="perch_forms">
  <perch:content id="intro" type="textarea" label="Intro" textile="true" editor="markitup" size="m" />
  <div>
      <perch:label for="name">Name</perch:label>
      <perch:input type="text" id="name" required="true" label="Name" />
      <perch:error for="name" type="required">Please add your name</perch:error>
  </div>
  <div>
      <perch:label for="email">Email</perch:label>
      <perch:input type="email" id="email" required="true" label="Email" placeholder="you@company.com" />
      <perch:error for="email" type="required">Please add your email address</perch:error>
      <perch:error for="email" type="format">Please check your email address</perch:error>
  </div>
  <div>
      <perch:label for="message">Message</perch:label>
      <perch:input type="textarea" id="message" required="true" label="Message" />
      <perch:error for="message" type="required">Please add a message</perch:error>
  </div>
  <div>
      <perch:input type="submit" id="submit" value="Send" class="btn btn-default btn-olive" />
  </div>
  <perch:success>
  <div class="contactsuccess">
      <h3>Success!</h3>
      <p>Your message was sent to us successfully. <br>
      Thank you for contacting us, we'll get in touch with you soon.</p>
    </div>
  </perch:success>
</perch:form>
